<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h1>Admin login</h1>
          <form class="login-form">
            <input type="text" placeholder="Admin Username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
          </form>
        </div>
      </div>

    <script src="/javascripts/login.js"></script>
</body>
</html>