@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
:root {
  --primary: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

#backimg{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}


#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: .1vw solid #fff ;
  
}

#header .logo {
  color: var(--primary);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  list-style: none;
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: var(--primary);
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
  background: var(--primary);
  color: rgba(163, 55, 55, 0.897);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--primary), transparent);
  z-index: 10;
}



section #text {
  position: absolute;
  top: 65%;
  color: var(--primary);
  font-size: 10vw;
  text-align: center;
  line-height: .55em;
  font-family: 'Rancho', cursive;
  font-size: 8vw;
  letter-spacing: .6vw;
}

section #text span {
  font-size: .20em;
  letter-spacing: 2px;
  font-weight: 400;
}

.login{
  display: flex;
  gap: 2.5vw;
}

#btn {
  text-decoration: none;
  /* display: inline-block; */
  padding: .8vw 2.4vw;
  background: #fff;
  color: rgba(15, 15, 15, 0.897);
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: .2vw;
  border-radius: 1vw;
  transform: translatey(3vw);
  border: 1px solid black;
}

#btn:hover{
  background-color: rgba(112, 109, 109, 0.397);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.sec {
  position: relative;
  padding: 100px;
  background: var(--primary);
}
