/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

.login-page {
  width: 25vw;
  padding: 10vw 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 40vw;
  /* margin: 0 auto 100px; */
  padding: 2vw 4vw;
  text-align: center;
  box-shadow: 0 0 1vw 0 rgb(0, 0, 0), 0 0 1vw 0 rgb(0, 0, 0);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  /* outline: 0; */
  width: 100%;
  border: 0;
  padding: 1vw;
  color: #000;
  font-size: 1vw;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  letter-spacing: .3vw;
  cursor: pointer;
}

.form button:hover{
    background-color: blue;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 500ms;
}



body {
    background-color: #363333cc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}